extends ./lyout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                    img(src="img/nosotros.jpg", alt="nosotros imagen", class="img-fluid")
            .col-md-7
                    h1= pagina 
                    blockquote  Lore  nisi nda!Distinctio ut sunt ea eius velit ullam molestias! Quibusdam, dolorem quae recusandae quasi cupiditate tempora repudiandae odit facere exercitationem illo voluptatem ipsum, pariatur asperiores? Sunt modi quibusdam libero tempore nisi!Minus corporis cum hic consequatur, et, mollitia sequi id velit, 
                    p L eligendi adipisci cumque saepquisquaaerat nam mollitia.Aperiam sapiente, ratione rerum mollitia cum iure culpa iste similique suscipit eum. Quis voluptas expedita, ipsa unde debitis saepe, amet aperiam vero velit, tenetur consectetur officia quo pariatur rem. Fugiat?Laborum placeat provident quia temporibus natus, praes tenetur neque illo consectetur blanditiis at non odit molestiae accusamus.Doloremque ducimus reprehenderit harum, maiores laborum asperiores modi inventore dolorum nulla mollitia. Odio voluptatem odit, velit iure vitae quas culpa similique quibusdam nobis 
    .listado-iconos
        .container.mt-5.py-5.text-center
        .row  
                .col-md-4
                        img(src="img/icono_seguridad.svg", alt="icono seguridad" clas="img-fluid mb-4")
                        h2.mb-4 Seguridad 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, culpa. Nisi.
                .col-md-4
                        img(src="img/icono_destinos.svg", alt="icono destinos" clas="img-fluid mb-4")
                        h2.mb-4  Mejores Destinos
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, culpa. Nisi.
                .col-md-4
                        img(src="img/icono_precios.svg", alt="icono precios" clas="img-fluid mb-4")
                        h2.mb-4  Los Mejores Precios
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, culpa. Nisi.